:host {
    display: flex;
    flex-flow: column;   
    align-items: center;
}

button {
    margin-top: 20px;
    width: 50%;
}

input {
    width: 100%;
}

label {
    margin-top: 4px;
    font-size: 0.8em;
    align-self: flex-start;
}