<!--  -->
<label for="email-input">Email:</label>
<input id="email-input" class="form-control" formControlName="Email" spellcheck="false">
<!-- Password -->
<label for="password-input">Password:</label>
<input id="password-input" type="password" class="form-control" formControlName="Password">
<!-- <input-tooltip label="Password" name="Password"></input-tooltip> -->
<!-- Confirm Password -->
<label for="confirm-password-input">Confirm Password:</label>
<input id="confirm-password-input" class="form-control" type="password" formControlName="Confirm Password">
<!-- Submit Form -->
<button type="submit" class="btn btn-primary" [disabled]="!form_group.valid">Register</button>
<!-- Navigation -->
<button type="button" class="btn btn-link" (click)="navigate('sign-in')">Already Registered? Sign In</button>
<button type="button" class="btn btn-link" (click)="navigate('confirm')">Confirm Email</button>