<p>Sign Up</p>
<form [formGroup]="form_group" (ngSubmit)="submitSignUpDetails()">
    <label>Username: 
        <input formControlName="username">
    </label>
    <label>Password:
        <input type="password" formControlName="password">
    </label>
    <label>Confirm Password: 
        <input type="password" formControlName="confirm_password"> 
    </label>
    <label>Email: 
        <input formControlName="email">
    </label>
    <button type="submit" [disabled]="!form_group.valid">Sign Up!</button>
</form>
