<label for="email-input">Email:</label>
<input id="email-input" class="form-control" formControlName="email" spellcheck="false">
<label for="password-input">Current Password:</label>
<input id="password-input" class="form-control" type="password" formControlName="password">
<label for="new-password-input">New Password:</label>
<input id="new-password-input" class="form-control" type="password" formControlName="new_password">
<button type="submit" class="btn btn-primary" [disabled]="!form_group.valid">Change Password</button>
