<label for="email-input">Email:</label>
<input id="email-input" class="form-control" formControlName="email" spellcheck="false">
<button type="button" class="btn btn-secondary" (click)="sendConfirmCode()" [disabled]="!isValidEmail()">Send Code</button>
<label for="code-input">Code:</label>
<input id="code-input" class="form-control" formControlName="confirm_code">
<label for="new-password-input">New Password:</label>
<input id="new-password-input" class="form-control" type="password" formControlName="password">
<button type="submit" class="btn btn-primary" [disabled]="!form_group.valid">Reset Password</button>
