<label for="email-input">Email:</label>
<input id="email-input" class="form-control" formControlName="Email" spellcheck="false" autocomplete="email">
<button type="button" class="btn btn-secondary" (click)="sendConfirmCode()" [disabled]="!isValidEmail()">Send Code</button>
<label for="code-input">Reset Code:</label>
<input id="code-input" class="form-control" formControlName="Reset Code" autocomplete="off">
<label for="new-password-input">New Password:</label>
<input id="new-password-input" class="form-control" type="password" formControlName="New Password" autocomplete="new-password">
<button type="submit" class="btn btn-primary" [disabled]="!form_group.valid">Reset Password</button>
