<div>
    <label for="email-input">Email:</label>
    <input id="email-input" formControlName="email">
</div>
<button type="button" (click)="sendConfirmCode()" [disabled]="!isValidEmail()">Send Code</button>
<div>
    <label for="code-input">Code:</label>
    <input id="code-input" formControlName="confirm_code">
</div>
<div>
    <label for="new-password-input">New Password:</label>
    <input id="new-password-input" type="password" formControlName="password">
</div>
<button type="submit" [disabled]="!form_group.valid">Reset Password</button>
