<div>
    <label for="email-input">Email:</label>
    <input id="email-input" formControlName="email">
</div>
<div>
    <label for="password-input">Password:</label>
    <input id="password-input" type="password" formControlName="password">
</div>
<button type="submit" [disabled]="!form_group.valid">Sign In</button>
<button type="button" (click)="navigateToSignUp()">Create New Account</button>
<button type="button" (click)="navigateToForgotPassword()">Forgot Password</button>
<button type="button" (click)="navigateToChangePassword()">Change Password</button>
<button type="button" (click)="navigateToHostedUI()">Continue With Google</button>
