<form [formGroup]="form_group" (ngSubmit)="onSubmit()">
    <label for="card-name">Name:</label>
    <input id="card-name" class="form-control" type="text" formControlName="Name"/>
    <card-input formControlName="Number" label="Number" type="cardNumber"></card-input>
    <card-input formControlName="Expiry" label="Expiry" type="cardExpiry"></card-input>
    <card-input formControlName="CVC" label="CVC" type="cardCvc"></card-input>
    <!-- Submit -->
    <button type="submit" class="btn btn-primary" [disabled]="isButtonDisabled()">Pay</button>
</form>

